<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJQb9rnUpQoP5UbiqC1iPOnMQmPlx_yaw</string>
	<key>GCM_SENDER_ID</key>
	<string>90761896525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-sign-in-530b5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sign-in-530b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90761896525:ios:59486b262a0970311cb204</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-sign-in-530b5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>